src/main/mule/procore-sharepoint-file-example-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:procore="http://www.mulesoft.org/schema/mule/procore" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sharepoint="http://www.mulesoft.org/schema/mule/sharepoint" xmlns:procore-restv1api-documentation="http://www.mulesoft.org/schema/mule/procore-restv1api-documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/procore-restv1api-documentation http://www.mulesoft.org/schema/mule/procore-restv1api-documentation/current/mule-procore-restv1api-documentation.xsd
http://www.mulesoft.org/schema/mule/sharepoint http://www.mulesoft.org/schema/mule/sharepoint/current/mule-sharepoint.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/procore http://www.mulesoft.org/schema/mule/procore/current/mule-procore.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd">
	
	<sharepoint:sharepoint-online-config name="Sharepoint_Sharepoint_online" doc:name="Sharepoint Sharepoint online" doc:id="2034fb96-162d-4f2b-8ed2-973a78950576" >
		<sharepoint:oauth-client-credentials-connection siteUrl="https://83shfm.sharepoint.com/sites/MuleDemo/" clientId="${sharepoint.clientId}" tokenUrl="${sharepoint.tokenUrl}" keyStoreAlias="mule" keyStorePath="/Users/djuang/Workspaces/seven-sixteen/procore-sharepoint-file-example-mule4/src/main/resources/server.jks" keyStorePassword="${keystore.password}" keyStoreType="JKS" scope="${sharepoint.scope}"/>
	</sharepoint:sharepoint-online-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="04f92482-452d-4e8c-87f9-120aa4ba54db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d3f3ec1d-740e-4873-b43f-6b0ef0116252" >
		<http:request-connection protocol="HTTPS" host="${procore.host}" port="443" >
			<http:authentication >
				<oauth:client-credentials-grant-type clientId="${procore.clientId}" clientSecret="${procore.clientSecret}" tokenUrl="${procore.tokenUrl}" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="d07046c5-d0dd-44ad-90bd-1e4df3f256f4" file="mule-properties.yaml" />
	<flow name="procore-sharepoint-file-example-mule4Flow3" doc:id="8a718568-5409-4edf-a4be-ddc570305d45" >
		<sharepoint:modified-objects doc:name="On Modified Objects" doc:id="65340668-fdbe-46fb-bcd3-a99044833e61" config-ref="Sharepoint_Sharepoint_online" objectType="FILE" path="/sites/MuleDemo/Shared Documents/" since="2024-02-24T08:00:00Z">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</sharepoint:modified-objects>
		<flow-ref doc:name="Flow Reference" doc:id="e78122e8-40c4-4331-805a-2c9779403935" name="write-file"/>
	</flow>
	<flow name="Flow" doc:id="78ed0ce7-66c4-4f11-bfc3-7c4ee72def7a" >
		<sharepoint:created-objects doc:name="On New Objects" doc:id="ea1fd2c7-e604-46e2-bc47-217d4348b773" config-ref="Sharepoint_Sharepoint_online" objectType="FILE" path="/sites/MuleDemo/Shared Documents/" since="2024-02-24T08:00:00Z">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</sharepoint:created-objects>
		<flow-ref doc:name="Flow Reference" doc:id="3f77ea8f-9ef2-4580-9332-76543ef4f2d9" name="write-file"/>
	</flow>
	<flow name="write-file" doc:id="a220ed18-174e-4637-9215-4cd59a6ccd4b" >
		<set-variable value="#[payload.Name]" doc:name="Set Variable" doc:id="dad4a226-20ab-4189-b7a2-ce83ef3f4f14" variableName="fileName"/>
		<logger level="INFO" doc:name="Logger" doc:id="89fea589-89ae-4e86-8b08-e0892a4483f2" message='#["Write file: " ++ vars.fileName ++ " to Procore"]'/>
		<sharepoint:file-get-content doc:name="File get content" doc:id="6d05d4a0-000e-4ba6-9a00-2064568b5433" config-ref="Sharepoint_Sharepoint_online" fileServerRelativeUrl="#[payload.ServerRelativeUrl]" />
		<ee:transform doc:name="Transform Message" doc:id="590147fe-e28a-4751-9cc1-e00a386948be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import dw::module::Multipart
import * from dw::core::Binaries
output multipart/form-data
---
{
    parts : {
        "file[name]" : {        	
            headers : {
            	"Content-Disposition": {
                    name: "file[name]",
                    subtype: "form-data"
                }
            },
            content : vars.fileName as String
        },
        "file[data]" :{
        	headers : {
        		"Content-Disposition": {
                    name: "file[data]",
                    filename: vars.fileName
                },  
                "Content-Type" : "*/*"             
            },
            content : payload.^raw
        }
    }  
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Procore - File Add" doc:id="614d3067-9ae4-4ace-9d95-85fb2b8222d3" config-ref="HTTP_Request_configuration" path="/rest/v1.0/files">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Procore-Company-Id" : p('procore.companyId')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"project_id" : p('procore.projectId')
}]]]></http:query-params>
		</http:request>
	</flow>
	
</mule>
